{% extends 'base.html.twig' %}
 
{% block title %}Film{% endblock %}
 
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Show Film</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_film_index') }}"> 
                    View All Films
                </a>
            </div>
            <div class="card-body">
                <b class="text-muted">Imdb Title Id:</b>
                <p>{{ film.imdbTitleId  }}</p>
                <b class="text-muted">Title:</b>
                <p>{{ film.title  }}</p>
                <b class="text-muted">Date Published:</b>
                <p>{{ film.datePublished  ? film.datePublished|date('d-m-Y') : '' }}</p>
				<b class="text-muted">Genre:</b>
                <p>{{ film.genre }}</p>
                <b class="text-muted">Duration:</b>
                <p>{{ film.duration }}</p>
				<b class="text-muted">Production Company:</b>
                <p>{{ film.productionCompany }}</p>
            </div>
			     <div class="card-header">
               {{ include('film/_delete_form.html.twig') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
